html {
  color: #222222;
  font-size: 1em;
  line-height: 1.4; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

audio {
  vertical-align: middle; }

canvas {
  vertical-align: middle; }

iframe {
  vertical-align: middle; }

img {
  vertical-align: middle; }

svg {
  vertical-align: middle; }

video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0; }

body {
  font: 16px/26px "Helvetica", "Helvetica Neue", "Arial";
  background-color: black; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

.header-container {
  border-bottom: 5px solid black;
  background: black; }

.footer-container {
  border-top: 5px solid black;
  background: black; }
  .footer-container footer {
    color: white;
    padding: 20px 0; }

.main {
  padding: 200px 0;
  text-align: center; }

.i:hover, .i2:hover {
  fill: white;
  fill-opacity: 1 !important; }

.m:hover, .m2:hover {
  fill: white;
  fill-opacity: 1 !important; }

.anim {
  color: white;
  stroke: white;
  stroke-width: 0.03em; }

#music {
  display: none; }

#it {
  display: none; }

.music-icon {
  height: 50px;
  margin: 0 5px; }
  .music-icon img {
    width: auto;
    height: 50px; }
  .music-icon:hover img {
    -webkit-filter: invert(50%);
            filter: invert(50%); }

.dropdown {
  margin-top: 10px;
  color: white; }
  .dropdown ul {
    list-style-type: none; }
  .dropdown li {
    display: inline; }

.music {
  text-align: left; }

.closed {
  display: none; }

.open {
  margin-top: 10px; }

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto; } }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }
