html {
  color: #222222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

audio {
  vertical-align: middle; }

canvas {
  vertical-align: middle; }

iframe {
  vertical-align: middle; }

img {
  vertical-align: middle; }

svg {
  vertical-align: middle; }

video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0; }

body {
  font: 16px/26px "Helvetica", "Helvetica Neue", "Arial";
  background-color: black; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

.header-container {
  border-bottom: 5px solid black;
  background: black; }

.footer-container {
  border-top: 5px solid black;
  background: black; }
  .footer-container footer {
    color: white;
    padding: 20px 0; }

.main {
  padding: 200px 0;
  text-align: center; }
  .main aside {
    border-top: 5px solid black;
    background: black;
    color: white;
    padding: 0 5% 10px; }
  .main h1 {
    font-size: 4em;
    color: white;
    margin: auto; }

.title {
  color: white; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e44d26; }
  nav a:hover {
    color: white;
    text-decoration: underline; }
  nav a:visited {
    color: white; }

.letter {
  fill: white; }

#music {
  display: none; }

#it {
  display: none; }

@media only screen and (min-width: 480px) {
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0; }
  nav li:first-child a {
    margin-left: 0; }
  nav li:last-child a {
    margin-right: 0; }
  nav ul li {
    display: inline; }
  .oldie nav a {
    margin: 0 0.7%; } }

@media only screen and (min-width: 768px) {
  .header-container {
    box-shadow: 0 5px 10px #aaaaaa; }
  .main aside {
    box-shadow: 0 5px 10px #aaaaaa;
    float: right;
    width: 28%; }
  .main article {
    float: left;
    width: 57%; }
  .title {
    float: left; }
  nav {
    float: right;
    width: 38%; } }

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto; } }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }
    *:before {
      background: transparent !important;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important; }
    *:after {
      background: transparent !important;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important; }
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
  pre {
    border: 1px solid #999999;
    page-break-inside: avoid; }
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid;
    max-width: 100% !important; }
  p {
    orphans: 3;
    widows: 3; }
  h2 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }
  a[href]:after {
    content: "(" attr(href) ")"; }
  abbr[title]:after {
    content: "(" attr(title) ")"; }
  a[href^="#"]:after {
    content: ""; }
  a[href^="javascript:"]:after {
    content: ""; } }

.ie7 .title {
  padding-top: 20px; }

.m:hover {
  fill: #aaaaaa; }

.i:hover {
  fill: #aaaaaa; }
