//colors
$color_silver_chalice_approx: rgba(170, 170, 170, 1);
$black: rgba(0, 0, 0, 1);
$color_mountain_mist_approx: rgba(153, 153, 153, 1);
$color_log_cabin_approx: rgba(34, 34, 34, 1);
$color_sail_approx: rgba(179, 212, 252, 1);
$color_celeste_approx: rgba(204, 204, 204, 1);
$white: rgba(255, 255, 255, 1);
$color_pomegranate_approx: rgba(228, 77, 38, 1);

//fonts
$font_0: 'Helvetica';
$font_1: 'Helvetica Neue';
$font_2: 'Arial';

html {
	color: $color_log_cabin_approx;
	font-size: 1em;
	line-height: 1.4;
}
::-moz-selection {
	background: $color_sail_approx;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
}
::selection {
	background: $color_sail_approx;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $color_celeste_approx;
	margin: 1em 0;
	padding: 0;
}
audio {
	vertical-align: middle;
}
canvas {
	vertical-align: middle;
}
iframe {
	vertical-align: middle;
}
img {
	vertical-align: middle;
}
svg {
	vertical-align: middle;
}
video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.browserupgrade {
	margin: 0.2em 0;
	background: $color_celeste_approx;
	color: $black;
	padding: 0.2em 0;
}
body {
	font: 16px/26px $font_0, $font_1, $font_2;
	background-color: $black;
}
.wrapper {
	width: 90%;
	margin: 0 5%;
}
.header-container {
	border-bottom: 5px solid $black;
	background: $black;
}
.footer-container {
	border-top: 5px solid $black;
	background: $black;
	footer {
		color: $white;
		padding: 20px 0;
	}
}
.main {
	padding: 200px 0;
	text-align: center;
}
.letter {

}

.i:hover {
	fill: $white;
	fill-opacity: 1;
}
.m, .m2 {
	&:hover {
		fill: $white;
		fill-opacity: 1;
	}
}
g {
}
.anim {
	// fill: $white;
	// fill-opacity: 0;
	color: $white;
	stroke: $white;
	stroke-width: 0.03em;
}
#mighty {

}
#music {

	display: none;
}
#it {

	display: none;
}
.music-icon {
	height: 50px;
	// width: 50px;
	margin: 0 5px;
	img {
		width: auto;
		height: 50px;
	}
	&:hover {
		img {
			filter: invert(50%);
		}
	}
}
.dropdown-closed {
	margin-top: 10px;
	display: none;
}
.dropdown-open {
	margin-top: 10px;
}
@media only screen and(min-width: 480px) {
}
@media only screen and(min-width: 768px) {
	.header-container {

	}
	.main {

	}

}
@media only screen and(min-width: 1140px) {
	.wrapper {
		width: 1026px;
		margin: 0 auto;
	}
}

.clearfix {
	*zoom: 1;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
